In [1]:
import pandas as pd

In [5]:
#datastuctures with matching number of elements, numbers added 1+2,2+3,3+4
data1 = pd.Series(data=[1,2,3])
data2 = pd.Series(data=[2,3,4])

data1 + data2

0    3
1    5
2    7
dtype: int64

In [7]:
#datastructures with unbalanced elements, missing elements will be added as NaN
data3 = pd.Series(data=[10,20,30,40])

data1 + data3

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [11]:
#dataframes wit matching numn=ber of elememts
df1 = pd.DataFrame(data={'a':[1,2],'b':[3,4]})
df2 = pd.DataFrame(data={'a':[10,20],'b':[30,40]})

df1 + df2

    a   b
0  11  33
1  22  44

In [17]:
df3 = pd.DataFrame(data={'a':[100,200],'b':[300,400],'c':[500,600]})

df1 + df3

     a    b   c
0  101  303 NaN
1  202  404 NaN