In [1]:
import pandas as pd

In [5]:
data = {'a' : [1,2,3,None],
        'b' : [5,None,7,8],
        'c' : [9,None,11,None],
        'd' : [13,14,None,16]}

df = pd.DataFrame(data)
df

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  NaN   NaN  14.0
2  3.0  7.0  11.0   NaN
3  NaN  8.0   NaN  16.0

In [9]:
df.fillna(method='ffill') #forward fill, replaces missing value with previous value

C:\Users\Paul\AppData\Local\Temp\ipykernel_28756\1959350398.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill') #fils missing value with previous value

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  5.0   9.0  14.0
2  3.0  7.0  11.0  14.0
3  3.0  8.0  11.0  16.0

In [11]:
df.fillna(method='bfill') #backwards fill, if he last value is nan it wont change

C:\Users\Paul\AppData\Local\Temp\ipykernel_28756\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  7.0  11.0  14.0
2  3.0  7.0  11.0  16.0
3  NaN  8.0   NaN  16.0

In [13]:
df.fillna(method='ffill', axis=1) #forward fill, works left to right

C:\Users\Paul\AppData\Local\Temp\ipykernel_28756\901808322.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', axis=1)

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  2.0   2.0  14.0
2  3.0  7.0  11.0  11.0
3  NaN  8.0   8.0  16.0

In [15]:
df.fillna(value='???', limit=1, axis=1) #will only replace one value per row and column

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  ???   NaN  14.0
2  3.0  7.0  11.0   ???
3  ???  8.0   NaN  16.0

In [17]:
df.fillna('???') #replace all nan with new value

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  ???   ???  14.0
2  3.0  7.0  11.0   ???
3  ???  8.0   ???  16.0