In [3]:
import pandas as pd

In [9]:
series = pd.Series([100,200,300])
series

0    100
1    200
2    300
dtype: int64

In [13]:
data = {'a' : [100,200,300], 'b' : [400,500,600], 'c' :[700,800,900]}
df = pd.DataFrame(data)
df

     a    b    c
0  100  400  700
1  200  500  800
2  300  600  900

In [17]:
series.sum() #rteurns sum of all values in series

600

In [19]:
df.sum() #returns sums of each column

a     600
b    1500
c    2400
dtype: int64

In [27]:
#series.sum(axis=1) #returns exception as series dont have columns

In [23]:
df.sum(axis=1) #sums columns

0    1200
1    1500
2    1800
dtype: int64

In [25]:
df.max(axis='columns')

0    700
1    800
2    900
dtype: int64