In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('sample.csv', sep=';', index_col=['Unnamed: 0]) #seperate columns on character, here ;
df

SyntaxError: unterminated string literal (detected at line 1) (3013929445.py, line 1)

In [8]:
df.drop(columns='e', inplace=True) #remove column e
df = df.head(10)

KeyError: "['e'] not found in axis"

In [10]:
df.dropna() #drops every row containing nan

                         Name  Age
0                   Elon Musk   50
1                  Jeff Bezos   58
2    Bernard Arnault & family   73
3                  Bill Gates   66
4              Warren Buffett   91
..                        ...  ...
96           Vladimir Potanin   61
97       Harold Hamm & family   76
98               Sun Piaoyang   63
99         Luo Liguo & family   66
100                 Peter Woo   75

[101 rows x 2 columns]