In [1]:
import pandas as pd

In [13]:
#timestamps a single instance of time
pd.Timestamp('2021-12-01')

Timestamp('2021-12-01 00:00:00')

In [15]:
#function to format dtae
def display_timestamp(input_text:str):
    print(pd.Timestamp(input_text))

In [19]:
#call function with different date formats
display_timestamp('2021-12-01')
display_timestamp('2021.12.01')
display_timestamp('2021/12/01')
display_timestamp('2021 Dec 01')

2021-12-01 00:00:00
2021-12-01 00:00:00
2021-12-01 00:00:00
2021-12-01 00:00:00

In [21]:
pd.Timestamp(2021,12,5,10,10,10)

Timestamp('2021-12-05 10:10:10')

In [23]:
#to_datetime() is more flexible and can convert to lists,converts to datetime index
pd.to_datetime(['2021.12.01', '2021.12.02'])

DatetimeIndex(['2021-12-01', '2021-12-02'], dtype='datetime64[ns]', freq=None)

In [25]:
#date_range() used to create a daeTimeIndex
pd.date_range(start='2023-01-01', end='2023-12-31')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [31]:
#frequency monthly, month end
pd.date_range(start='2023-01-01', end='2023-12-31', freq='ME')

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [29]:
#frequency monthly, month start
pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [33]:
#split into periods
pd.date_range(start='2023-01-01', end='2023-12-31', periods=12)

DatetimeIndex([          '2023-01-01 00:00:00',
               '2023-02-03 02:10:54.545454545',
               '2023-03-08 04:21:49.090909091',
               '2023-04-10 06:32:43.636363636',
               '2023-05-13 08:43:38.181818182',
               '2023-06-15 10:54:32.727272728',
               '2023-07-18 13:05:27.272727272',
               '2023-08-20 15:16:21.818181820',
               '2023-09-22 17:27:16.363636364',
               '2023-10-25 19:38:10.909090908',
               '2023-11-27 21:49:05.454545456',
                         '2023-12-31 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [37]:
#timedelta, time between two timestamps
start = pd.Timestamp('2021.01.01 00:00')
end = pd.Timestamp('2021.01.01 00:02')

#calculate diffeernce
elapsed = end - start
elapsed

Timedelta('0 days 00:02:00')

In [39]:
#function to put strings to_timedelta()
def disp_time(input_text: str):
    print(pd.to_timedelta(input_text))

In [47]:
#samples to send to above function
disp_time('1d 2h 20s')
disp_time('2 days')
disp_time('2 days 4 hours 30 minutes 20 seconds')
disp_time('1d 2h 30m 20s')
disp_time('1W 1D')
disp_time(['1d 2h 20s', '2 days', '1 hours 30 seconds'])

1 days 02:00:20
2 days 00:00:00
2 days 04:30:20
1 days 02:30:20
8 days 00:00:00
TimedeltaIndex(['1 days 02:00:20', '2 days 00:00:00', '0 days 01:00:30'], dtype='timedelta64[ns]', freq=None)

In [49]:
#.dt allows access to datetime objects in series or dataframes
week = pd.date_range(start='2023.01.01', end='2023.01.07')
week

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07'],
              dtype='datetime64[ns]', freq='D')

In [51]:
#creates a series with datetime objects
week_df = pd.Series(week).to_frame(name='Dates')
week_df

       Dates
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07

In [53]:
#use info to show contents
week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 188.0 bytes

In [55]:
week_df['Dates'].dt.day

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Dates, dtype: int32

In [59]:
week_df['Dates'].dt.day_name()

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
Name: Dates, dtype: object